/**
 * css rules start
 *
 * @format
 */

/* default css remove  */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* main container  */
.choose-main-container {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

/* title container  */
.choose-title-container {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.why-choose-title {
	font-size: 24px;
	margin-bottom: 10px;
}

.why-choose-reasons {
	font-size: 32px;
	text-align: center;
	font-weight: bold;
}

.number-reasons {
	font-weight: normal;
}

.circle-container {
	width: 100%;
	height: 100%;
	padding: 40px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.globe-circle {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.globe-image-containter {
	background: url("./bg.avif");
	width: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px;
}

.globe-image {
	width: 100%;
	object-fit: cover;
}

.globe-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.454);
	border-radius: 50%;
	left: 0;
	top: 0;
}
.inside-globe-text-container {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 16px;
}

.small-globe-image {
	width: 45px;
	height: 45px;
}

.inside-globe-title {
	font-size: 32px;
}

.inside-globe-text {
	font-size: 14px;
}

.first-circle-outline-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 120%;
	border: 2px solid #a9cae0;
	height: 120%;
	border-radius: 50%;
}
.second-circle-outline-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 150%;
	border: 2px solid #a9cae0;
	height: 150%;
	border-radius: 50%;
}

.orbit-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.dot {
	width: 12px; /* Adjust the size of the dot as needed */
	height: 12px; /* Adjust the size of the dot as needed */
	background-color: #a9cae0;
	border-radius: 50%;
	position: absolute;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%);
}
.big-dot {
	width: 50px; /* Adjust the size of the dot as needed */
	height: 50px; /* Adjust the size of the dot as needed */
	background-color: #a9cae0;
	border-radius: 50%;
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.yellow-big-dot {
	background-color: #f5cf40;
}
.blue-big-dot {
	background-color: #0364A5;
}

/* small earth orbit  */
.earth-orbit {
	position: relative;
	width: 100%; /* Adjust the size of the orbit as needed */
	height: 100%; /* Adjust the size of the orbit as needed */
	border-radius: 50%;
}

/* for first small orbit  */
.first-earth-orbit {
	transform: rotate(140deg);
	animation: rotateFirstOrbit 3s ease; /* Adjust duration as needed */
}
/* first small orbit animation  */
@keyframes rotateFirstOrbit {
	from {
		transform: rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(140deg);
		opacity: 1;
	}
}

/* for second small orbit  */
.second-earth-orbit {
	transform: rotate(110deg);
	animation: rotateSecondOrbit 3s ease; /* Adjust duration as needed */
}

/* for second small orbit animation  */

@keyframes rotateSecondOrbit {
	from {
		transform: rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(110deg);
		opacity: 1;
	}
}
/* third small orbit  */
.third-earth-orbit {
	transform: rotate(80deg);
	animation: rotateThirdOrbit 3s ease; /* Adjust duration as needed */
}

/* third orbit small animation  */
@keyframes rotateThirdOrbit {
	from {
		transform: rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(80deg);
		opacity: 1;
	}
}

/* forth small orbit  */
.forth-earth-orbit {
	transform: rotate(50deg);
	animation: rotateForthOrbit 3s ease; /* Adjust duration as needed */
}
/* forth small animation  */
@keyframes rotateForthOrbit {
	from {
		transform: rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(50deg);
		opacity: 1;
	}
}
/* five small orbit  */
.five-earth-orbit {
	transform: rotate(-140deg);
	animation: rotateFiveOrbit 3s ease; /* Adjust duration as needed */
}
/* five small animation  */
@keyframes rotateFiveOrbit {
	from {
		transform: rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(-140deg);
		opacity: 1;
	}
}
/* six small orbit  */
.six-earth-orbit {
	transform: rotate(-110deg);
	animation: rotateSixOrbit 3s ease; /* Adjust duration as needed */
}
/* six small animation  */
@keyframes rotateSixOrbit {
	from {
		transform: rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(-110deg);
		opacity: 1;
	}
}
/* seven small orbit  */
.seven-earth-orbit {
	transform: rotate(-80deg);
	animation: rotateSevenOrbit 3s ease; /* Adjust duration as needed */
}
/* seven small animation  */
@keyframes rotateSevenOrbit {
	from {
		transform: rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(-80deg);
		opacity: 1;
	}
}
/* eight small orbit  */
.eight-earth-orbit {
	transform: rotate(-50deg);
	animation: rotateEightOrbit 3s ease; /* Adjust duration as needed */
}
/* eight small animation  */
@keyframes rotateEightOrbit {
	from {
		transform: rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(-50deg);
		opacity: 1;
	}
}

/* css rules end */

/* ======================= */
/* media query start */
@media (max-width: 640px) {
	.why-choose-title {
		font-size: 14px;
	}

	.why-choose-reasons {
		font-size: 24px;
	}

	.globe-circle {
		width: 40%;
	}
	.inside-globe-text-container {
		gap: 4px;
	}

	.small-globe-image {
		width: 25px;
		height: 25px;
	}

	.inside-globe-title {
		font-size: 14px;
	}

	.inside-globe-text {
		font-size: 9px;
	}

	.dot {
		width: 8px; /* Adjust the size of the dot as needed */
		height: 8px; /* Adjust the size of the dot as needed */
	}

	.big-dot {
		width: 36px; /* Adjust the size of the dot as needed */
		height: 36px; /* Adjust the size of the dot as needed */
		bottom: -22px; /* Adjust the number if need */
	}

    .second-circle-outline-container{
        width: 160%;
        height: 160%;
    }
}

@media (min-width: 640.1px) and (max-width: 1024px) {
	.why-choose-title {
		font-size: 16px;
	}

	.why-choose-reasons {
		font-size: 28px;
	}

	.globe-circle {
		width: 45%;
	}
}

/* Medium Devices (tablets, 768px and up) */
@media (min-width: 1024.1px) and (max-width: 1280px) {
	.why-choose-title {
		font-size: 16px;
	}

	.why-choose-reasons {
		font-size: 28px;
	}
}
/* Medium Devices (tablets, 768px and up) */
@media (min-width: 1280.1px) and (max-width: 1536px) {
	.why-choose-title {
		font-size: 16px;
	}

	.why-choose-reasons {
		font-size: 28px;
	}
}
